@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  background: url("/bg.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.layout::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
.layout::-webkit-scrollbar-thumb {
  background: linear-gradient(155deg, #9dc7ff 0%, #f29b9b80 100%);
  border-radius: 10px;
}

.landing {
  box-shadow: inset #000044 0 0 200px;
  background: url("/landing-bg-min.png") no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}
.landing-title {
  margin-top: 5px;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
  background: linear-gradient(
    155deg,
    rgb(157, 199, 255) 0%,
    rgba(242, 155, 155, 0.5) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(200, 223, 254, 0.9) 0%,
      rgba(200, 231, 254, 0) 40.39%
    ),
    radial-gradient(137.13% 253.39% at 76.68% 66.67%, #2e48a6 0%, #7c77d6 100%);
  background-blend-mode: overlay, normal;
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.4),
    0px 0px 5px 0px #aeacff inset, 0px -1px 8px 0px #7583b6 inset;
  transition: all 0.3s ease;
}
.landing-button:hover {
  box-shadow: 0 0 100px rgb(0, 179, 255);
}

@media (max-width: 900px) {
  .landing {
    background-position: center;
  }
  .landing-title {
    margin: 15px 0;
    font-size: 50px;
    line-height: normal;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  .landing-desc {
    font-size: 14px;
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  background: url("/nav.svg") no-repeat;
  background-size: cover;
  height: 90px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: url("/footer.png") no-repeat;
  background-size: cover;
}

/* .homeNav{
    background: url('/nav.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
} */
.test {
  background: url("test-bg.png") no-repeat center;
  background-size: cover;
}

.mic {
  filter: drop-shadow(0 0 5px white);
}
.listening-animation {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(rgb(88, 0, 88), rgb(0, 0, 107));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.386);
}

.listening-animation .lis-col {
  width: 15px;
  background: #fff;
  border-radius: 25px;
}
.listening-animation .lis-col-1 {
  height: 50px;
  animation: col-1 0.3s both infinite alternate;
}
@keyframes col-1 {
  to {
    transform: scaleY(1.5);
  }
}

.listening-animation .lis-col-2 {
  height: 100px;
  animation: col-2 0.3s both infinite alternate;
}
@keyframes col-2 {
  to {
    transform: scaleY(0.5);
  }
}

.listening-animation .lis-col-3 {
  height: 70px;
  animation: col-3 0.3s both infinite alternate;
}
@keyframes col-3 {
  to {
    transform: scaleY(1.4);
  }
}

.listening-animation .lis-col-4 {
  height: 90px;
  animation: col-4 0.3s both infinite alternate;
}
@keyframes col-4 {
  to {
    transform: scaleY(0.8);
  }
}

.listening-animation .lis-col-5 {
  height: 60px;
  animation: col-5 0.3s both infinite alternate;
}
@keyframes col-5 {
  to {
    transform: scaleY(1.5);
  }
}

::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4c52ff; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #f0f0f02d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8c90ff;
}

/* Button (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide the scrollbar buttons */
}
